<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h4>以下の内容で、よろしいですか？</h4>
    
    <%= form_for(@contacts) do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :content %>
    
      <p>お名前:<%= @contacts.name %></p>
      <p>メールアドレス:<%= @contacts.email %></p>
      <p>お問い合わせ内容:<%= @contacts.content %></p>
      <%= f.submit "送信する" %>
    <% end %>
    
    <%= form_for(@contacts, url: new_contact_path, method: 'get') do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :content %>
      <%= f.submit "戻る", name: 'back' %>
    <% end %>
  </div>
</div>