<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <p id="notice"><%= notice %></p>
    
    <h3>お問い合わせ</h3>
    
    <%= form_for(@contacts, url: confirm_contacts_path) do |f| %>
      <% if @contacts.errors.any? %>
        <div id="error_explanation">
          <h3><%= @contacts.errors.count %>件のエラーがあります。</h3>
          <ul>
          <% @contacts.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <%end%>
      
      <%= f.label :お名前 %>
      <%= f.text_field :name, class: 'form-control' %>
      <br>
      <%= f.label :メールアドレス %>
      <%= f.text_field :email, class: 'form-control' %>
      <br>
      <%= f.label :お問い合わせ内容 %>
      <%= f.text_field :content, class: 'form-control' %>
      <br>
      <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
